In [1]:
import pandas as pd

In [2]:
customers_dataset = pd.read_csv('customers_dataset.csv')

# import numpy as np
# customers_dataset = pd.read_csv('customers_dataset.csv').replace(np.nan, None).drop_duplicates()


customers_dataset[:2]

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [3]:
geolocations_dataset = pd.read_csv('geolocation_dataset.csv')

geolocations_dataset[:2]

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP

In [4]:
order_items_dataset = pd.read_csv('order_items_dataset.csv')

order_items_dataset[:2]

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

In [5]:
order_payments_dataset = pd.read_csv('order_payments_dataset.csv')

order_payments_dataset[:2]

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [6]:
order_reviews_dataset = pd.read_csv('order_reviews_dataset.csv')

order_reviews_dataset[:2]

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13

In [7]:
orders_dataset = pd.read_csv('orders_dataset.csv')

orders_dataset[:2]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

In [8]:
products_dataset = pd.read_csv('products_dataset.csv')

products_dataset[:2]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [9]:
sellers_dataset = pd.read_csv('sellers_dataset.csv')

sellers_dataset[:2]

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP

In [10]:
product_category_name_translation_dataset = pd.read_csv('product_category_name_translation.csv')

product_category_name_translation_dataset[:2]

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories

In [11]:
from pathlib import Path

for file in Path('.').glob('*.csv'):
    print(file.name)
    df = pd.read_csv(file)
    print(list(df.columns))
    print()

customers_dataset.csv
['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

orders_dataset.csv
['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

order_reviews_dataset.csv

['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

product_category_name_translation.csv
['product_category_name', 'product_category_name_english']

geolocation_dataset.csv

['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']

order_payments_dataset.csv
['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

sellers_dataset.csv
['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']

order_items_dataset.csv
['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

products_dataset.csv
['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

In [12]:
# df1.merge(df2) vs pd.merge(df1, df2)

# # Step 1: Merge orders with payments customer lifetime value
# orders_with_payments = pd.merge(orders_dataset, order_payments_dataset, on='order_id', how='left')
# orders_with_payments[:2]

# Step 1: Merge delivered orders with payments customer lifetime value

delivered_orders = orders_dataset[orders_dataset['order_status'] == 'delivered']
delivered_orders_with_payments = pd.merge(delivered_orders, order_payments_dataset, on='order_id', how='left')
delivered_orders_with_payments[:2]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,payment_installments,payment_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,credit_card,1.0,18.12
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3.0,voucher,1.0,2.00

In [13]:
# Step 2: Merge with customers to get state
delivered_orders_with_payments_and_customers = pd.merge(delivered_orders_with_payments, customers_dataset, on='customer_id', how='left')
delivered_orders_with_payments_and_customers[:2]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,payment_sequential,payment_type,payment_installments,payment_value,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,1.0,credit_card,1.0,18.12,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,3.0,voucher,1.0,2.00,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP

In [14]:
# Step 3: Group by customer_state and sum payment_value
sales_by_region = delivered_orders_with_payments_and_customers.groupby('customer_state')['payment_value'].sum().reset_index()
sales_by_region[:2]

  customer_state  payment_value
0             AC       19586.25
1             AL       94195.79

In [15]:
# Step 4: Sort by sales
sales_by_region = sales_by_region.sort_values(by='payment_value', ascending=False)

# Top 5 state by sales
sales_by_region[:5]

   customer_state  payment_value
25             SP     5770266.19
18             RJ     2055690.45
10             MG     1819277.61
22             RS      861802.40
17             PR      781919.55

In [16]:
delivered_orders_with_payments.groupby('customer_id')['payment_value'].sum().reset_index().rename(
    columns={'payment_value': 'customer_lifetime_value'}
).sort_values(by='customer_lifetime_value', ascending=False)[:5].reset_index(drop=True)

                        customer_id  customer_lifetime_value
0  1617b1357756262bfa56ab541c47bc16                 13664.08
1  ec5b2ba62e574342386871631fafd3fc                  7274.88
2  c6e2731c5b391845f6800c97401a43a9                  6929.31
3  f48d464a0baaea338cb25f816991ab1f                  6922.21
4  3fd6777bbce08a352fddd04e4a7cc8f6                  6726.66

In [17]:
# Top 5 customers by sales

delivered_orders_with_payments_and_customers.groupby('customer_unique_id')['payment_value'].sum().reset_index().rename(
    columns={'payment_value': 'customer_lifetime_value'}
).sort_values(by='customer_lifetime_value', ascending=False)[:5]

                     customer_unique_id  customer_lifetime_value
3724   0a0a92112bd4c708ca5fde585afaa872                 13664.08
79636  da122df9eeddfedc1dc1f5349a1a690c                  7571.63
43168  763c8b1c9c68a0229c42c9fc6f662b93                  7274.88
80463  dc4802a71eae9be1dd28f5d788ceb526                  6929.31
25436  459bef486812aa25204be022145caa62                  6922.21

In [18]:
orders_dataset['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'unavailable',
       'canceled', 'created', 'approved'], dtype=object)

In [19]:
products_dataset[:2]

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [20]:
orders_dataset[:2]

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

In [21]:
product_order_status_mapping_data = orders_dataset.merge(order_items_dataset, on='order_id', how='left').merge(
    products_dataset, on='product_id', how='left'
)

In [22]:
df = product_order_status_mapping_data

# Step 1: Add a column to classify orders as 'failed' or 'delivered'
df['is_failed'] = df['order_status'].isin(['unavailable', 'canceled']).astype(int)
df['is_delivered'] = (df['order_status'] == 'delivered').astype(int)

# Step 2: Group by product_id and sum the counts
product_counts = df.groupby('product_id')[['is_failed', 'is_delivered']].sum().reset_index()

# Step 3: Calculate failed rate
product_counts['failed_rate (%)'] = (product_counts['is_failed'] / product_counts['is_delivered']) * 100

# Handle cases where is_delivered = 0 (avoid division by zero)
product_counts['failed_rate (%)'] = product_counts['failed_rate (%)'].replace([float('inf')], -1)


product_counts.loc[(product_counts['is_delivered'] == 0) & (product_counts['is_failed'] == 0), 'failed_rate (%)'] = 0
product_counts.loc[(product_counts['is_delivered'] == 0) & (product_counts['is_failed'] > 0), 'failed_rate (%)'] = 100

# Sort by failed rate
product_counts = product_counts.sort_values(by='failed_rate (%)', ascending=False)

product_counts.sort_values(by='failed_rate (%)', ascending=False)[:5].reset_index(drop=True)

                         product_id  is_failed  is_delivered  failed_rate (%)
0  75f3ef6a5cb0f2d5aeef15925f0ccf69          5             1            500.0
1  9523bf75c55cbbd31a79ea86a9157a39          2             1            200.0
2  9f2597e311355defa12f1491420d40d5          2             1            200.0
3  530989bc6eff4420c49a84214ab1eb51          2             1            200.0
4  388a6943ef1d99b81f642a0137bfa5da          2             1            200.0

In [23]:
# product_counts[product_counts['failed_rate (%)'] == -1]

product_counts[(product_counts['is_failed'] == 0) & (product_counts['is_delivered'] == 0)]

,product_id,is_failed,is_delivered,failed_rate (%)
22050,ac3e3a9f9e66ca62953057a6965ce444,0,0,0.0
21796,aa428a8e4d587520f90d37a08030a812,0,0,0.0
22428,af026a1d23fa6bede158c62c22ca135c,0,0,0.0
22466,af4895ef046adee58f5a0a4395769905,0,0,0.0
22458,af39520e0fe7c2703117ddcf3026bfd4,0,0,0.0
...,...,...,...,...
10963,54668f8d7fb456c8977d5ca817dab50c,0,0,0.0
10948,54405df05005a5933a1a2851d1c69c86,0,0,0.0
10930,54209aa243cdc7067e4a8e75bcef44f8,0,0,0.0
11024,54d4f4a90b9907d07136e40d31d92ab0,0,0,0.0
11075,5533be1a0bbb27d0332f8279556b5e86,0,0,0.0

In [24]:
product_counts[(product_counts['is_failed'] == 0)].sort_values(by='is_delivered', ascending=False)[:5].reset_index(drop=True)

                         product_id  is_failed  is_delivered  failed_rate (%)
0  aca2eb7d00ea1a7b8ebd4e68314663af          0           520              0.0
1  422879e10f46682990de24d770e7f83d          0           484              0.0
2  368c6c730842d78016ad823897a372db          0           388              0.0
3  53759a2ecddad2bb87a079a1f1519f73          0           373              0.0
4  53b36df67ebb7c41585e8d54d6772e08          0           321              0.0

In [25]:
product_counts[(product_counts['is_delivered'] == 0)].sort_values(by='is_failed', ascending=False)[:5].reset_index(drop=True)

                         product_id  is_failed  is_delivered  failed_rate (%)
0  5c3eaf54e8ee5d5378765ff16df7640b          6             0            100.0
1  8397dc503d1a0c2ac7422701884de5a6          6             0            100.0
2  1c42962612d557f85753b24c2b97070f          5             0            100.0
3  66b1f09e746c05761bcaccf6339bde8d          5             0            100.0
4  3ea32f63a6aaf8d467e543dedf434ee7          5             0            100.0

In [26]:
product_counts[product_counts['product_id'] == 'aca2eb7d00ea1a7b8ebd4e68314663af']

,product_id,is_failed,is_delivered,failed_rate (%)
22112,aca2eb7d00ea1a7b8ebd4e68314663af,0,520,0.0

In [27]:
product_counts[product_counts['product_id'] == '5c3eaf54e8ee5d5378765ff16df7640b']

,product_id,is_failed,is_delivered,failed_rate (%)
11967,5c3eaf54e8ee5d5378765ff16df7640b,6,0,100.0

In [28]:
# Top 5 products with highest failed rate
product_counts.sort_values(by='failed_rate (%)', ascending=False).reset_index(drop=True)[:5]

                         product_id  is_failed  is_delivered  failed_rate (%)
0  75f3ef6a5cb0f2d5aeef15925f0ccf69          5             1            500.0
1  9523bf75c55cbbd31a79ea86a9157a39          2             1            200.0
2  9f2597e311355defa12f1491420d40d5          2             1            200.0
3  530989bc6eff4420c49a84214ab1eb51          2             1            200.0
4  388a6943ef1d99b81f642a0137bfa5da          2             1            200.0